@keyframes fade-in {
    from {
        opacity: 0;
    }
  
    to {
        opacity: 1;
    }
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .body {
    animation-duration: 750ms;
    animation-timing-function: ease-in-out;
    animation-name: fade-in;
    width: 100vw;
    padding-top: 80px;
    padding-bottom: 20px;
    max-width: 1000px;
    margin-inline: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto, 1fr);
    }

    .body * {
        box-sizing: border-box;
    }

    .thumbnailLink {
        width: 100%;
        max-width: 420px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(105, 105, 105, 0.5);
        margin-bottom: 20px;
        padding-bottom: 20px;
        outline: 3px solid transparent;
        transition-duration: 250ms;
    }

    .thumbnailLink:hover {
        cursor: pointer;
        border-bottom: 1px solid transparent;
        outline: 3px solid transparent;
    }

    .thumbnail {
        width: 100%;
        height: 100%;
    }

    .thumbnail-pic {
        width: 100%;
        aspect-ratio: 454/255;
        object-fit: contain;
    }

    .text {
        width: 100%;
        max-width: 420px;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .profile-img {
        width: 40px;
        height: 40px;
        object-fit: cover;
        border-radius: 50%;
    }

    .details {
        display: flex;
        padding: 0;
        padding: 5px;
        margin: none;
    }

    .credits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .author {
        font-size: 14px;
        font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
        margin: 0;
    }

    .times {
        font-size: 11px;
        font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
        margin: 0;
    }

    .title {
        font-size: 25px;
        font-family: lulo-clean-w01-one-bold, lulo-clean-w05-one-bold,
        sans-serif;
        vertical-align: middle;
        line-height: 1.2em;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 90px;
        text-align: left;
        padding-inline: 10px;
        letter-spacing: 1pt;
        width: 100%;
    }

    .snippet {
        font-size: 16px;
        color: rgba(75, 75, 75);
        font-family: helvetica-w01-light, helvetica-w02-light, sans-serif;
        line-height: 1.5em;
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        max-height: 82px;
        padding-inline: 10px;
        width: 100%;
    }

    @media only screen and (max-width: 1000px) {
        .thumbnailLink {
        width: 375px;
        }

        .text,
        .snippet,
        .share-bar,
        .title {
        max-width: 100%;
        }
    }

    .searchBar {
        position: absolute;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        height: 36px;
        width: 90vw;
        max-width: 920px;
    }

    @media only screen and (max-width: 800px) {
        .body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

        .thumbnailLink, .searchBar {
        max-width: 75%;
        width: 75%;
        min-width: 375px;
        max-height: 662px !important;
        }

        .thumbnail-pic {
        height: auto;
        max-height: 400px;
        }
    }

    @media only screen and (max-width: 1111px) {        
        .searchBar {
        top: 100px;
    }}